In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn import preprocessing

Using TensorFlow backend.

In [2]:
##Data Cleaning
data = pd.read_csv('high_diamond_ranked_10min.csv')

data=data.drop(columns=["gameId"])
data = data.drop(columns=["redTowersDestroyed","redTotalGold","redTotalExperience","redTotalMinionsKilled", "redTotalJungleMinionsKilled", "redGoldDiff","redExperienceDiff","redCSPerMin","redGoldPerMin"])
data = data.drop(columns=["redWardsPlaced", "redWardsDestroyed", "redFirstBlood", "redKills", "redDeaths", "redAssists", "redEliteMonsters", "redDragons", "redHeralds", "redAvgLevel"])

##Display at end
display(data.head())

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin
0,0,28,2,1,9,6,11,0,0,0,0,17210,6.6,17039,195,36,643,-8,19.5,1721.0
1,0,12,1,0,5,5,5,0,0,0,0,14712,6.6,16265,174,43,-2908,-1173,17.4,1471.2
2,0,15,0,0,7,11,4,1,1,0,0,16113,6.4,16221,186,46,-1172,-1033,18.6,1611.3
3,0,43,1,0,4,5,5,1,0,1,0,15157,7.0,17954,201,55,-1321,-7,20.1,1515.7
4,0,75,4,0,6,6,6,0,0,0,0,16400,7.0,18543,210,57,-1004,230,21.0,1640.0

In [3]:
len(data)

9879

In [4]:
train = data.iloc[:7897]
test = data.iloc[7898:]
display(train.head())
display(test.head())

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin
0,0,28,2,1,9,6,11,0,0,0,0,17210,6.6,17039,195,36,643,-8,19.5,1721.0
1,0,12,1,0,5,5,5,0,0,0,0,14712,6.6,16265,174,43,-2908,-1173,17.4,1471.2
2,0,15,0,0,7,11,4,1,1,0,0,16113,6.4,16221,186,46,-1172,-1033,18.6,1611.3
3,0,43,1,0,4,5,5,1,0,1,0,15157,7.0,17954,201,55,-1321,-7,20.1,1515.7
4,0,75,4,0,6,6,6,0,0,0,0,16400,7.0,18543,210,57,-1004,230,21.0,1640.0

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin
7898,0,16,3,0,6,5,9,1,1,0,0,16110,7.0,17501,206,36,72,-81,20.6,1611.0
7899,1,18,4,0,10,9,10,0,0,0,0,18209,6.8,16955,200,37,1287,440,20.0,1820.9
7900,1,16,4,1,5,6,5,1,0,1,0,16023,6.8,17244,207,60,1299,-918,20.7,1602.3
7901,1,14,3,0,8,7,6,1,1,0,0,17685,7.2,19338,231,44,1218,1150,23.1,1768.5
7902,1,86,4,0,4,5,3,1,1,0,0,14803,6.8,17318,213,49,-1380,326,21.3,1480.3

In [16]:

x = train.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
train = pd.DataFrame(x_scaled)

print(train)

        0         1         2    3         4         5         6    7    8  \
0     0.0  0.106481  0.074074  1.0  0.500000  0.272727  0.379310  0.0  0.0
1     0.0  0.032407  0.037037  0.0  0.277778  0.227273  0.172414  0.0  0.0
2     0.0  0.046296  0.000000  0.0  0.388889  0.500000  0.137931  0.5  1.0
3     0.0  0.175926  0.037037  0.0  0.222222  0.227273  0.172414  0.5  0.0
4     0.0  0.324074  0.148148  0.0  0.333333  0.272727  0.206897  0.0  0.0
...   ...       ...       ...  ...       ...       ...       ...  ...  ...
7892  1.0  0.055556  0.111111  1.0  0.277778  0.000000  0.137931  0.5  0.0
7893  0.0  0.023148  0.000000  1.0  0.388889  0.409091  0.344828  0.0  0.0
7894  0.0  0.300926  0.222222  0.0  0.055556  0.318182  0.000000  0.5  1.0
7895  0.0  0.060185  0.074074  0.0  0.611111  0.409091  0.551724  0.0  0.0
7896  0.0  0.041667  0.000000  0.0  0.222222  0.136364  0.172414  0.0  0.0

        9    10        11      12        13        14        15        16  \
0     0.0  0.00  0.510477  0.5625  0.545096  0.555556  0.391304  0.514554
1     0.0  0.00  0.313692  0.5625  0.477189  0.444444  0.467391  0.355294
2     0.0  0.00  0.424059  0.5000  0.473329  0.507937  0.500000  0.433152
3     1.0  0.00  0.348747  0.6875  0.625373  0.587302  0.597826  0.426470
4     0.0  0.00  0.446668  0.6875  0.677049  0.634921  0.619565  0.440687
...   ...   ...       ...     ...       ...       ...       ...       ...
7892  1.0  0.25  0.541673  0.8750  0.809528  0.735450  0.652174  0.666323
7893  0.0  0.00  0.529148  0.6875  0.616248  0.666667  0.597826  0.517334
7894  0.0  0.00  0.240980  0.6250  0.537024  0.634921  0.684783  0.304615
7895  0.0  0.00  0.616591  0.7500  0.698895  0.539683  0.478261  0.509216
7896  0.0  0.00  0.381125  0.6250  0.587296  0.825397  0.391304  0.487510

            17        18        19
0     0.527402  0.555556  0.510477
1     0.461512  0.444444  0.313692
2     0.469430  0.507937  0.424059
3     0.527459  0.587302  0.348747
4     0.540863  0.634921  0.446668
...        ...       ...       ...
7892  0.713647  0.735450  0.541673
7893  0.619252  0.666667  0.529148
7894  0.366439  0.634921  0.240980
7895  0.554889  0.539683  0.616591
7896  0.486511  0.825397  0.381125

[7897 rows x 20 columns]

In [14]:
features = train.to_numpy()[:, 1:]
labels = train.to_numpy()[:, 0:1]

print(features.shape)
print(labels.shape)

(7897, 19)
(7897, 1)

In [17]:
model = Sequential()
model.add(Dense(64, input_dim = 19, activation = "relu"))
model.add(Dense(48, activation = "relu"))
model.add(Dense(32, activation = "relu"))
model.add(Dense(16, activation = "relu"))
model.add(Dense(1, activation = "sigmoid"))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics = ['acc'])
model.fit(features, labels, epochs = 10, batch_size = 10)
_, accuracy = model.evaluate(features, labels, verbose=0)

Epoch 1/10
7897/7897 [==============================] - 1s 155us/step - loss: 0.5854 - acc: 0.6798
Epoch 2/10
7897/7897 [==============================] - 1s 107us/step - loss: 0.5496 - acc: 0.7161
Epoch 3/10
7897/7897 [==============================] - 1s 108us/step - loss: 0.5435 - acc: 0.7170
Epoch 4/10
7897/7897 [==============================] - 1s 107us/step - loss: 0.5414 - acc: 0.7264
Epoch 5/10
7897/7897 [==============================] - 1s 114us/step - loss: 0.5410 - acc: 0.7237
Epoch 6/10
7897/7897 [==============================] - 1s 108us/step - loss: 0.5387 - acc: 0.7252
Epoch 7/10
7897/7897 [==============================] - 1s 109us/step - loss: 0.5365 - acc: 0.7261
Epoch 8/10
7897/7897 [==============================] - 1s 106us/step - loss: 0.5362 - acc: 0.7274
Epoch 9/10
7897/7897 [==============================] - 1s 116us/step - loss: 0.5389 - acc: 0.7252
Epoch 10/10
7897/7897 [==============================] - 1s 109us/step - loss: 0.5338 - acc: 0.7283