In [7]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [8]:
##Data Cleaning
data = pd.read_csv('high_diamond_ranked_10min.csv')

data=data.drop(columns=["gameId"])
data = data.drop(columns=["redTowersDestroyed","redTotalGold","redTotalExperience","redTotalMinionsKilled", "redTotalJungleMinionsKilled", "redGoldDiff","redExperienceDiff","redCSPerMin","redGoldPerMin"])
data = data.drop(columns=["redWardsPlaced", "redWardsDestroyed", "redFirstBlood", "redKills", "redDeaths", "redAssists", "redEliteMonsters", "redDragons", "redHeralds", "redAvgLevel"])

##Display at end
display(data.head())

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin
0,0,28,2,1,9,6,11,0,0,0,0,17210,6.6,17039,195,36,643,-8,19.5,1721.0
1,0,12,1,0,5,5,5,0,0,0,0,14712,6.6,16265,174,43,-2908,-1173,17.4,1471.2
2,0,15,0,0,7,11,4,1,1,0,0,16113,6.4,16221,186,46,-1172,-1033,18.6,1611.3
3,0,43,1,0,4,5,5,1,0,1,0,15157,7.0,17954,201,55,-1321,-7,20.1,1515.7
4,0,75,4,0,6,6,6,0,0,0,0,16400,7.0,18543,210,57,-1004,230,21.0,1640.0

In [9]:
len(data)

9879

In [10]:
train = data.iloc[:7897]
test = data.iloc[7898:]
display(train.head())
display(test.head())

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin
0,0,28,2,1,9,6,11,0,0,0,0,17210,6.6,17039,195,36,643,-8,19.5,1721.0
1,0,12,1,0,5,5,5,0,0,0,0,14712,6.6,16265,174,43,-2908,-1173,17.4,1471.2
2,0,15,0,0,7,11,4,1,1,0,0,16113,6.4,16221,186,46,-1172,-1033,18.6,1611.3
3,0,43,1,0,4,5,5,1,0,1,0,15157,7.0,17954,201,55,-1321,-7,20.1,1515.7
4,0,75,4,0,6,6,6,0,0,0,0,16400,7.0,18543,210,57,-1004,230,21.0,1640.0

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin
7898,0,16,3,0,6,5,9,1,1,0,0,16110,7.0,17501,206,36,72,-81,20.6,1611.0
7899,1,18,4,0,10,9,10,0,0,0,0,18209,6.8,16955,200,37,1287,440,20.0,1820.9
7900,1,16,4,1,5,6,5,1,0,1,0,16023,6.8,17244,207,60,1299,-918,20.7,1602.3
7901,1,14,3,0,8,7,6,1,1,0,0,17685,7.2,19338,231,44,1218,1150,23.1,1768.5
7902,1,86,4,0,4,5,3,1,1,0,0,14803,6.8,17318,213,49,-1380,326,21.3,1480.3

In [13]:
features = train.to_numpy()[:, 1:]/10000
labels = train.to_numpy()[:, 0:1]

print(features.shape)
print(labels.shape)

(7897, 19)
(7897, 1)

In [14]:
model = Sequential()
model.add(Dense(64, input_dim = 19, activation = "relu"))
model.add(Dense(32, activation = "relu"))
model.add(Dense(1, activation = "sigmoid"))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics = ['acc'])
model.fit(features, labels, epochs = 10, batch_size = 10)
_, accuracy = model.evaluate(features, labels, verbose=0)

Epoch 1/10
7897/7897 [==============================] - 2s 238us/step - loss: 0.5611 - acc: 0.7131
Epoch 2/10
7897/7897 [==============================] - 1s 154us/step - loss: 0.5385 - acc: 0.7261
Epoch 3/10
7897/7897 [==============================] - 1s 153us/step - loss: 0.5396 - acc: 0.7201
Epoch 4/10
7897/7897 [==============================] - 1s 162us/step - loss: 0.5371 - acc: 0.7265
Epoch 5/10
7897/7897 [==============================] - 2s 198us/step - loss: 0.5366 - acc: 0.7242
Epoch 6/10
7897/7897 [==============================] - 2s 213us/step - loss: 0.5372 - acc: 0.7250
Epoch 7/10
7897/7897 [==============================] - 1s 160us/step - loss: 0.5376 - acc: 0.7248
Epoch 8/10
7897/7897 [==============================] - 1s 163us/step - loss: 0.5374 - acc: 0.7261
Epoch 9/10
7897/7897 [==============================] - 1s 151us/step - loss: 0.5377 - acc: 0.7265
Epoch 10/10
7897/7897 [==============================] - 1s 168us/step - loss: 0.5372 - acc: 0.7242