In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

%cd /content/gdrive/My Drive/Kaggle

!kaggle datasets download -d bobbyscience/league-of-legends-diamond-ranked-games-10-min

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive/Kaggle
Downloading league-of-legends-diamond-ranked-games-10-min.zip to /content/gdrive/My Drive/Kaggle
  0% 0.00/539k [00:00<?, ?B/s]
100% 539k/539k [00:00<00:00, 35.1MB/s]

In [0]:
!ls

kaggle.json  league-of-legends-diamond-ranked-games-10-min.zip

In [0]:
!unzip \*.zip  && rm *.zip

Archive:  league-of-legends-diamond-ranked-games-10-min.zip
  inflating: high_diamond_ranked_10min.csv

In [0]:
!ls

high_diamond_ranked_10min.csv  kaggle.json

hello
whats up

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
data = pd.read_csv('high_diamond_ranked_10min.csv')

display(data.head())

       gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0  4519157822         0  ...         19.7         1656.7
1  4523371949         0  ...         24.0         1762.0
2  4521474530         0  ...         20.3         1728.5
3  4524384067         0  ...         23.5         1647.8
4  4436033771         0  ...         22.5         1740.4

[5 rows x 40 columns]

       gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0  4519157822         0  ...         19.7         1656.7
1  4523371949         0  ...         24.0         1762.0
2  4521474530         0  ...         20.3         1728.5
3  4524384067         0  ...         23.5         1647.8
4  4436033771         0  ...         22.5         1740.4

[5 rows x 40 columns]

Hi there bois