In [21]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [22]:
##Data Cleaning
data = pd.read_csv('high_diamond_ranked_10min.csv')

data=data.drop(columns=["gameId"])
data = data.drop(columns=["redTowersDestroyed","redTotalGold","redTotalExperience","redTotalMinionsKilled", "redTotalJungleMinionsKilled", "redGoldDiff","redExperienceDiff","redCSPerMin","redGoldPerMin"])
data = data.drop(columns=["redWardsPlaced", "redWardsDestroyed", "redFirstBlood", "redKills", "redDeaths", "redAssists", "redEliteMonsters", "redDragons", "redHeralds", "redAvgLevel"])

##Display at end
display(data.head())

   blueWins  blueWardsPlaced  ...  blueCSPerMin  blueGoldPerMin
0         0               28  ...          19.5          1721.0
1         0               12  ...          17.4          1471.2
2         0               15  ...          18.6          1611.3
3         0               43  ...          20.1          1515.7
4         0               75  ...          21.0          1640.0

[5 rows x 20 columns]

In [23]:
len(data)

9879

In [24]:
train = data.iloc[:7897]
test = data.iloc[7898:]
display(train.head())
display(test.head())

   blueWins  blueWardsPlaced  ...  blueCSPerMin  blueGoldPerMin
0         0               28  ...          19.5          1721.0
1         0               12  ...          17.4          1471.2
2         0               15  ...          18.6          1611.3
3         0               43  ...          20.1          1515.7
4         0               75  ...          21.0          1640.0

[5 rows x 20 columns]

      blueWins  blueWardsPlaced  ...  blueCSPerMin  blueGoldPerMin
7898         0               16  ...          20.6          1611.0
7899         1               18  ...          20.0          1820.9
7900         1               16  ...          20.7          1602.3
7901         1               14  ...          23.1          1768.5
7902         1               86  ...          21.3          1480.3

[5 rows x 20 columns]

In [34]:
features = train.to_numpy()[:, 1:]
labels = train.to_numpy()[:, 0:1]

print(features.shape)
print(labels.shape)

(7897, 19)
(7897, 1)

In [42]:
model = Sequential()
model.add(Dense(64, input_dim = 19, activation = "relu"))
model.add(Dense(32, activation = "relu"))
model.add(Dense(1, activation= "sigmoid"))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics = ['acc'])
model.fit(features, labels, epochs = 10, batch_size = 10)
_, accuracy = model.evaluate(features, labels, verbose=0)

Epoch 1/10
7897/7897 [==============================] - 3s 405us/step - loss: 8.0334 - acc: 0.5016
Epoch 2/10
7897/7897 [==============================] - 2s 254us/step - loss: 8.0334 - acc: 0.5016
Epoch 3/10
7897/7897 [==============================] - 2s 246us/step - loss: 8.0334 - acc: 0.5016
Epoch 4/10
7897/7897 [==============================] - 2s 249us/step - loss: 8.0334 - acc: 0.5016
Epoch 5/10
7897/7897 [==============================] - 2s 284us/step - loss: 8.0334 - acc: 0.5016
Epoch 6/10
7897/7897 [==============================] - 2s 315us/step - loss: 8.0334 - acc: 0.5016
Epoch 7/10
7897/7897 [==============================] - 3s 325us/step - loss: 8.0334 - acc: 0.5016
Epoch 8/10
7897/7897 [==============================] - 2s 315us/step - loss: 8.0334 - acc: 0.5016
Epoch 9/10
7897/7897 [==============================] - 3s 323us/step - loss: 8.0334 - acc: 0.5016
Epoch 10/10
7897/7897 [==============================] - 2s 261us/step - loss: 8.0334 - acc: 0.5016